{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item active">Edit Profile</li>
                </ol>
            </div>
            <h4 class="page-title">Edit Profile</h4>
        </div>
    </div>
</div>
<!-- end page title -->



<!-- end row -->

<div class="row">
    <div class="col-12">
        <div class="card">

            <form action="" method="post">
                <div class="card-body">

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Date View -->
                                    <div class="mb-3">
                                        <label class="form-label">First Name</label>
                                        {{form.first_name}}

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Date View -->
                                    <div class="mb-3">
                                        <label class="form-label">Last Name</label>
                                        {{form.last_name}}

                                    </div>
                                </div>
                            </div>

                            
                            
                        </div> <!-- end col-->

                        <!-- end col-->
                    </div>
                    <!-- end row -->

                    {% csrf_token %}
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-1"><i
                                    class="fe-check-circle me-1"></i> Save Changes</button>
                        </div>
                    </div>

                </div>
            </form><!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row -->


{% endblock %}