{% load static %}
<!DOCTYPE html>
<html lang="en" data-topbar-color="dark">

<head>
  <meta charset="utf-8" />
  <title>Log In</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- App favicon -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

  <!-- Theme Config Js -->
  <script src="{% static 'assets/js/head.js' %}"></script>

  <!-- Bootstrap css -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

  <!-- App css -->
  <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- Icons css -->
  <link href="https://coderthemes.com/ubold/layouts/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="authentication-bg authentication-bg-pattern">
  
  <div class="account-pages mt-5 mb-5">
    <div class="container">
      {% if form.errors %}

        {% include 'form_messages.html' with errors=form.errors %}

      {% endif %}
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-6">
          <div class="card bg-pattern">

            <div class="card-body p-4">

              <div class="text-center w-75 m-auto">
                <h2>Employee Leave <br>Management System</h2>
                <hr>
                
                <p class="text-muted mb-4 mt-3">Enter your email address and password to access the system.</p>
              </div>

              <form action="" method="post">

                <div class="mb-3">
                  <label for="emailaddress" class="form-label">Email address</label>
                  {{form.username}}
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <div class="input-group input-group-merge">
                    {{form.password}}
                    
                  </div>
                </div>

                {% csrf_token %}
                <div class="text-center d-grid">
                  <button class="btn btn-primary" type="submit"> Sign In </button>
                </div>

              </form>

              

            </div> <!-- end card-body -->
          </div>
          <!-- end card -->

          <div class="row mt-3">
            <div class="col-12 text-center">
              <p class="text-white-50">Don't have an account? <a href="{% url 'accounts:register' %}"
                  class="text-white ms-1"><b>Sign Up</b></a></p>
            </div> <!-- end col -->
          </div>
          <!-- end row -->

        </div> <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end page -->



</body>

</html>